{% extends 'home/base.html' %}
{% block aboutactive %} 
active
{% endblock %}
{% block title %}

Home
    
{% endblock %}
{% block data %}
    
{% endblock %}
{% block body %}

<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://avatars.githubusercontent.com/u/154666429?v=4" class="card-img-top" alt="...">
        <div class="card-body">
        <h1>Sadem Hussein</h1>
          <p class="card-text">I'm Full Stack Developer  and cyber security engineer</p>
        </div>
      </div>
</div>
    
{% endblock %}