{% extends 'home/base.html' %}
{% block title %}

Blog Home
    
{% endblock %}
{% block blogactive %}
active
{% endblock %}
{% block data %}
<h1>Blog home page</h1>
    
{% endblock %}
{% block body %}

<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Python Blog</h5>
          <p class="card-text">Python is highly time interacted programming languages...</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
    
{% endblock %}